@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Autour One', serif;
}
body{
    background-color: #fff;
}
.glass-layer{
    width: 100%;
    height: 90vh;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.9px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 3px solid rgba(255, 255, 255, 1);
    .navbar{
        background-color: #cc453b;
        .container-fluid{
            img{
                width:50px;
                height:50px;
            }
        }        
    }
    .d-flex{
        .btn{
            background-color: #f27e2c;
        }
    }
    
        }
        .img-section{
           
            img{
                width: auto;
                height:auto; 
                object-fit: cover;              
                
            }
        }
    


.glassmorphism{
    background-color: #f27e2c;

    .glass-row{
        // height: 400px;
        .col-md-3{            
            .icon-box{
                padding: 30px;
                background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            -webkit-backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            height: 350px;            
            }
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media (min-width: 768px) {
.card-container {
    height: 60vh !important;
}
}